/* Importar fuente desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;  /* Aplicar la nueva tipografía */
}

/* Estilo para el contenedor principal */
h2 {
  color: #000000;  /* Verde elegante */
  font-size: 26px;
  font-weight: 500;  /* Negrita */
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 18px;
  color: #444;  /* Texto en gris oscuro */
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
}

button {
  background-color: #882c10; 
  font-family: 'Poppins', sans-serif;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border-radius: 8px;  /* Esquinas más redondeadas */
  font-weight: 500;  /* Peso medio para resaltar */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Efecto hover para el botón */
button:hover {
  background-color: #c5421a;  /* Naranja más oscuro al pasar el ratón */
  transform: scale(1.05);  /* Ligero efecto de aumento */
}

/* Línea horizontal personalizada */
hr {
  border: none;
  height: 3px;
  background-color: #ddd;
  margin: 20px 0;
  border-radius: 5px;  /* Bordes redondeados */
}


.boton-container {
    display: flex;        /* Usar Flexbox */
    justify-content: center;  /* Centrar horizontalmente */
    gap: 10px;            /* Espacio entre botones */
    margin: 10px 0;       /* Espaciado vertical */
  }
  
  button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #8c2c09;
  }
  